#container {
	position: absolute;
	top: 0pt;
	bottom: 0pt; 
	left: 0pt; 
	right: 0pt;
	background: #DEF;
	display: flex;
	flex-flow: row nowrap;
	align_items: stretch;
	justify-content: space-between;
}

#panel-A {
	background: yellow;
	width: 100px;
}
	

#panel-B {
	background: #fed;
	width: 100px;
}

#viewport {
	background: pink;
 width: 100%;
}