#container {
	position: absolute;
	top, bottom, left, right: 0pt;
	background: #DEF;
	display: flex;
	flex-flow: row no-wrap;
	align-items: stretch;
	justify-content: space-between;
}

#panel-A {
	background: yellow;
}
	